.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.btn-showmenu {
  position:absolute;
  left: 0px;
  background-color: #1b1c1d;
  height: 45px;
  width: 40px;
  border-radius: 0px 10px 10px 0px;
  transition: all .5s ease;
  transform: translate3d(0,0,0);
}
 .active {
  position:absolute;
  left: 260px;
}
.arr {
  color:#ffffff;
  padding: 15px;
}
.container {
  width: 1170px;
  max-width: 100%;
  margin: 0px auto;
}
@media screen and (max-width:1170x){
  .container {
    padding: 0 15px !important;
  }
}
.ui.selection.active.dropdown:hover {
  left: 0px; 
}
.form-todo {
  width: calc(4/12*100%);
}
.form-login {
  width: calc(4/12*100%);
  max-width: 100%;
  margin: 0px auto;
}